#map {
  padding-bottom: 30px;
  width: 95%;
  height: 90%;
  margin: auto auto;
  position: relative;
}
body,
html {
  height: 100%;
  font-family: "proxima-nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#country {
  position: absolute;
}
#container {
  width: 800px;
  margin: auto auto;
}
#about {
  width: 500px;
  margin: auto auto;
  padding-top: 60px;
}
#about h1 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 60px;
}
#about p {
  text-align: center;
}
#guide {
  padding-top: 40px;
}
#navbar {
  top: 0px;
  background-color: #e6a429;
  position: absolute;
  z-index: 10;
  opacity: 0.8;
  width: 100%;
  height: 30px;
  left: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 40px;
}
#navbar div {
  display: inline-block;
}
#navbar a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}
#navbar a:hover {
  color: black;
}
#navbar #nav-menus {
  position: relative;
  display: inline-block;
}
#navbar #title {
  color: grey;
  font-size: 1.2em;
  margin-right: 60px;
}
