{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
	{% include "index.html" %}
	
	<div id="container">
		<div id="about">
			<h1>About DotsWorld</h1>
			<p>
				DotsWorld is a new approach to visualizing socio-economic data in a geographic manner. Our hopes are to abandon draconian methods of statically presenting and visualizing data. We believe that data is best perceived in a dynamic environment, best suited to empower the viewer. We hope that our approach will help share ideas or explore new ones in the fields of economics, international development studies and many other fields. <br><br>DotsWorld was conceived and developed at McHacks 2014 at McGill University by Fuxin Liu, Alvin Leung and Sukwan Lee.
			</p>
		</div>
	</div>
{% endblock %}